.body {
    background-color: #F0F8FF ;
    color : #8A2BE2;
}

.interactionField {
    height:70%;
    border-color: yellow;
    border-width: 100px; 
    border: solid;  
}

.footer {
    height:30%;
}

.path1, .path2, .path3, .path4, .path5 {
    background:none; 
    border:none;
    display: inline-block;
    margin: 0;
    font-size:20px;
  }

.path1, .path2, .path3, .path4, .path5 :hover{
    text-shadow: #fc0 1px 0 10px;
    text-decoration: underline;
}

.back {
    width: 5%;
    height: 5%;
}

.dir1, .dir2, .dir3, .dir4, .dir5 {
    font-size: 20px;
    margin-top: 10px;
    background:none; 
    border:none;
}

.dir1text, .dir2text, .dir3text, .dir4text, .dir5text {
    font-size: 20px;
    margin-top: 10px;
}

.dir1, .dir2, .dir3, .dir4, .dir5 :hover {
    text-shadow: #fc0 1px 0 10px;
    text-decoration: underline;
}

.dirButtons{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

.formLine {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .sortType {
    font-size: 20px;
    margin-top: 10px;
  }

  .fieldName {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }