.body {
    background-color: #F0F8FF ;
    color : #8b00ff;
    font-family: Poppins;
}

.interactionField {
    height:70%;
    border-color: yellow;
    border-width: 100px; 
    border: solid;  
}

.footer {
    height:30%;
    font-size: 20px;
    margin-top: 10px;
}

.path1, .path2, .path3, .path4, .path5 {
    background:none; 
    border:none;
    display: inline-block;
    margin: 0;
    font-size:20px;
  }

.divPath :hover{
    color:#8A2BE2;
    text-shadow: #F082AC 1px 0 10px;
    text-decoration: underline;
}

.backButton {
  background-color: #8A2BE2;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 5px;
  outline: none;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
}

.backButton:hover,
.backButton:focus {
  background-color: #8A2BE2;
}

.dir1, .dir2, .dir3, .dir4, .dir5 {
    font-size: 20px;
    margin-top: 10px;
    background:none; 
    border:none;
}

.dir1text, .dir2text, .dir3text, .dir4text, .dir5text {
    font-size: 20px;
    margin-top: 10px;
}

.dirButtons :hover {
    color:#8A2BE2;
    text-shadow: #F082AC 1px 0 10px;
    text-decoration: underline;
}

.dirButtons{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

.formLine {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .sortType {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px  ;
  }

  .fieldName {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }

  #loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}